.field_set{
    border-color: #8B4513;
    border-style: solid;
}
.field_set_2{
    border-color:#8B4513;
    border-style: solid;
}

.field_set_3{
    border-color: #8B4513;
    border-style: solid;
}

.field_set_4{
    border-color: #8B4513;
    border-style: solid;
}
